preprocess/pkl
preprocess/raw
.idea
.git
__pycache__
preprocess/grammar.py
preprocess/.cache
evaluate/eval_data
/protein/hydra_train/
/protein/hydra_inference/
/protein/ckpts/
/.sync.ffs_db
/protein/src/
*.ckpt
/protein/resource/frameflow/rename_target.py
/protein/resource/rfdiffusion/official_ckpts/ActiveSite_ckpt.pt
/protein/resource/rfdiffusion/official_ckpts/Base_ckpt.pt
/protein/resource/rfdiffusion/official_ckpts/Base_epoch8_ckpt.pt
/protein/resource/rfdiffusion/official_ckpts/Complex_base_ckpt.pt
/protein/resource/rfdiffusion/official_ckpts/Complex_beta_ckpt.pt
/protein/resource/rfdiffusion/official_ckpts/Complex_Fold_base_ckpt.pt
/protein/resource/rfdiffusion/official_ckpts/InpaintSeq_ckpt.pt
/protein/resource/rfdiffusion/official_ckpts/InpaintSeq_Fold_ckpt.pt
/protein/data/rfdiffusion/diffusion_backup.py
/protein/data/rfdiffusion/lmdb_protein.csv
/protein/.vscode
/evaluate/workspace
/mathematics/plot/figs/
/mathematics/so3_experiments/results/


/mathematics/r3_experiments/results/

/evaluate/extract_files/
/preprocess/processed_pdb/
/protein/resource/
/mathematics/data_construction/
/mathematics/plot_se3/
